@using FormsGeneratorWebApplication.Models;
@model IEnumerable<FormsGeneratorWebApplication.Models.FormsModel>

@{

    ViewBag.Title = "Form";
    var items = Model;
}
<h2>Please fill out the folowing form:</h2>
@using (Html.BeginForm("Form", "Forms", FormMethod.Post, new { @class = "full", @id = "new-form" })) {

    @for (var i = 0; i < items.Count(); ++i)
    {
        var currentItem = items.ElementAt(i);

        if (currentItem.GetType() == typeof(CheckBoxesModel)) 
        {
            @Html.Partial("~/Views/Forms/_RaidoButtonPartial",currentItem)
        }
        else if (currentItem.GetType() == typeof(TextAreaModel))
        {
            @Html.Partial("~/Views/Forms/_TextAreaPartial", currentItem)
        }
        else if (currentItem.GetType() == typeof(TextBoxModel))
        {
            @Html.Partial("~/Views/Forms/_TextBoxPartial", currentItem)
        }
    }

}
@Scripts.Render("~/Scripts/views/forms-view.js");
