@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Forms</h1>

    <p>This application allows user to create and modify surveys, send them out, keep track of them, view the analytics of the responses and be able to download that data.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","FormsAdmin")">Lets Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Anonymous of Submission Form</h2>
        <p class="text-">Anonymity was also huge for us, so when a Admin sends out the surveys to whomever, and when they get submitted, the Admin will not be able to see who submitted which response.</p>
    </div>
    <div class="col-md-6">
        <h2>Analytics/Download</h2>
        <p>
            The application will also keep track of their previous surveys and be able to still view the analytics and download the stats.
        </p>
    </div>
</div>