@model FormsGenerator.Models.Forms

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pellentesque diam. Fusce bibendum laoreet urna, ac tincidunt justo pharetra non. Vestibulum efficitur nisl et ex aliquam semper. Morbi egestas, ex eget iaculis commodo, dui sem rhoncus lectus, vitae efficitur leo ipsum id velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu rutrum velit. Vestibulum ac quam ipsum. Quisque euismod scelerisque fermentum. Donec mollis, sapien nec dapibus vulputate, magna turpis aliquet lectus, in placerat massa ipsum ac erat. Proin nec leo ac risus laoreet dapibus. Fusce felis est, blandit eu luctus et, auctor nec nisi. Duis tempus feugiat dolor, ac pellentesque ligula vehicula eget. Nullam consectetur malesuada urna, vel cursus dui. Pellentesque eu venenatis odio, vel ullamcorper diam. Morbi consectetur finibus tortor, nec dictum ligula gravida in.
</p>