
@{
    ViewBag.Title = "Email";

    var guid = ViewBag.GUID;
}


@using (Html.BeginForm("Email", "FormsAdmin", FormMethod.Post, new { id = "Email-form", @Class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <fieldset>
            <legend>Email </legend>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">List of Emails:</label>
                <div class="col-lg-10">
                    <textarea class="form-control email-text-area" rows="8" id="textArea"></textarea>
                    <span class="help-block">Above is the list of Form recipients.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Enter a Email:</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="email-add-text" placeholder="Email">
                </div>
                <input type="button" id="email-add-btn" class="btn btn-primary btn-med btn-add-form-item" value="Add Email" />
            </div>
            <div class="form-group">
                <label id="email-error-message" class="error col-lg-4" hidden>Please enter email in correct format</label>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button id="email-submit-btn" class="btn btn-success btn-lg">Submit</button>                   
                    @Html.Hidden("recipients", "", new { Name = "recipients", ID = "email-recp" })
                    @Html.Hidden("guid", "@guid", new { Name = "guid", ID = "email-guid", Value = @guid })
                </div>
            </div>
        </fieldset>

</div>
}

@Scripts.Render("~/Scripts/views/forms-admin-email.js")
<script type="text/javascript">
    $(document).ready(function () {
        $.extend(form, {
            settings: {
   
            }
        });
        window.form.init();
    })

</script>