@{
    ViewBag.Title = "Index";
}

@model  FormsGeneratorWebApplication.Models.FormsModel

<h2>Welcome To The Admin Page</h2>

@using (Html.BeginForm("Index", "Form", FormMethod.Post, new { @class="full",  @id="new-form"})){

    @Html.AntiForgeryToken()
    <fieldset>
        <h3>Form Title</h3>
        <div class="from-group">
            <div class="form-item">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m =>)
            </div>
        </div>

    </fieldset>
}